.search {
    &-actions {
        margin-bottom: 2rem;

        @media only screen and (min-width: 769px) {
            display: flex;
            justify-content: space-between;
        }

        .title {
            @media only screen and (min-width: 769px) {
                margin: 0;
            }
        }
    }
}